{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-start">
          <div class="navbar-logo">
            <img
              src="https://msk.top-academy.ru/dist/images/logo/step_logo_rus.svg"
              alt=""
            />
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-item">
            <button class="button">Создать пост</button>
          </div>
        </div>
      </nav>
    </header>
    <main>
        {% block content %}
        {% endblock%}
    </main>
  </body>
</html>