{%extends 'base_layout.html'%}

{%block content%}
      <div class="container">
        {% for post in posts %}
        <div class="post">
          <div>
            <div class="title">{{post.title}}</div>
            <div class="author">Опубликовано: {{post.author}}</div>
          </div>
          <div>
            <div class="text">{{post.snippet}}...</div>
            <div class="date">{{post.date_added}}</div>
          </div>
        </div>
        {% endfor %}
        <a href="{% url 'app:new_temp' %}" class="post">Ёлка</a>
      </div>
      {%endblock%}

